*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
lib/ocaml
*.mlast
*.mliast
.vscode
.merlin
node_modules
package-lock.json
*.log
.bsb.lock

# This folder contains some custom .js files to simulate binding to
# bs modules with async functions
!lib/node_modules
